# Host *
  # controlmaster auto
  # controlpath /tmp/ssh-%r@%h:%p
  # ServerAliveInterval 240

# forwardx11 yes
# forwardx11trusted yes
# serveraliveinterval 60
# forwardx11timeout 596h
Host gzold
  HostName gz
  User pp233
  IdentityFile /home/jcshi/software_profile/ssh/pp233.id

Host gz
  HostName 172.16.22.11
  Port 5566
  User npu_yh_1
  IdentityFile /home/jcshi/software_profile/ssh/npu_yh_1.id
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  # controlmaster auto
  # controlpath /tmp/ssh-%r@%h:%p


